[project]
	description = this is test, and i will delete it later
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lijunjie1
[access "refs/for/refs/*"]
	read = group user/lijunjie1
	push = group user/lijunjie1
	label-Code-Review = -2..+2 group user/lijunjie1
	label-Verified = -1..+1 group user/lijunjie1
	rebase = group user/lijunjie1
	removeReviewer = group user/lijunjie1
	submit = group user/lijunjie1
[access "refs/heads/*"]
	read = group user/lijunjie1
	create = group user/lijunjie1
	push = +force group user/lijunjie1
	pushMerge = group user/lijunjie1
[access "refs/tags/*"]
	push = +force group user/lijunjie1
	pushTag = group user/lijunjie1
	pushSignedTag = group user/lijunjie1
